extends layout

block metas

block title
  title ThisGreatApp!

block headScripts

block bodyScripts

block content

  .splash

    .splash-main

      .spotlight
        .head
          .container
            .row
              .col-md-7
                h1 Election App 2016
                h2.short-top The 2016 presidential election is here!
                  br
                  | Who do you support and what are your comments?
                br
                br
                section.press
                  a(href="" class="" role="button")
                    button.btn-success.btn-lg
                      span Sign Up Now!


      .section.section-steps
        .container
          .text-center
            h3 The Election that Counts!
            h4 Three easy steps to Election Comments
            br
            .row
              .col-sm-2.col-sm-offset-2.col-xs-6
                img(src="/images/step6-blue.jpeg" class="img-responsive")
                p It's your Right!
              .col-xs-1.hide-mobile.hide-tablet.step-line
                hr
              .col-sm-2.col-xs-6
                img(src="/images/step2-blue.jpeg" class="img-responsive")
                p Vote Now!
              .col-xs-1.hide-mobile.hide-tablet.step-line
                hr
              .col-sm-2.col-xs-6.col-xs-offset-3.col-sm-offset-0.col-md-2
                img(src="/images/step5-blue.jpeg" class="img-responsive")
                p Register Today!


      .section.section-laptop
        .container-fluid
          .text-center
            .row
              .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1

                h3 Make You Comments Heard!
                h4 Election App 2016 is your platform for expressing your thoughts and opinions. 
                  span.hide-mobile 
                    | 2016 is an election unlike any other, so what are people saying?


          .row
            .col-md-7.col-md-offset-1
              img(src="/images/midImage4.jpeg" class="macbook img-responsive")

            .col-md-2
              .wrap.text-center
                .row
                
                  .col-md-12.col-xs-6.mobile-icon
                    a(href="" target="_blank")
                      img(src="/images/ios.svg" width="125" height="54" alt="Get it for iOS" class="apple")

                  .col-md-12.col-xs-6.mobile-icon
                    a(href="" target="_blank")
                      img(src="/images/android.svg" width="125" height="54" alt="Get it for Android" class="android")



      .section.section-uses
        .container
          .text-center
            .row
              .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
                h3 An American Institution
                h4.hide-mobile Two hundred and twenty seven years of voting history.
            br
            br
            .row
              .col-md-3.col-xs-6
                img(src="/images/circle1.png" class="img-responsive img-circle")
                br
                p Will you be voting?

              .col-md-3.col-xs-6
                img(src="/images/circle2.png" class="img-responsive img-circle")
                br
                p Who will you vote for?

              .col-md-3.col-xs-6
                img(src="/images/circle3.png" class="img-responsive img-circle")
                br
                p What are the issues?

              .col-md-3.col-xs-6
                img(src="/images/circle4.png" class="img-responsive img-circle")
                br
                p Is 2016 different?


      .break-section
        .container
          .head
            br.hide-mobile.hide-tablet
            br.hide-mobile.hide-tablet
            br

            h1 Get Started Anytime
            h2.short-top Voice your thoughts & opinions with other commenters by joining today. 
            br
            section.press
              button(href="" role="button") Sign Up Now!


      .section.section-questions
        .text-center
          .container
            h3 Still unsure?
            h4 Drop us a line and we'd be happy to answer any questions you may have.
            br
            a.btn.btn-default.btn-lg.btn-white.btn-tour(href="https://www.getcroissant.com/" role="button") Book my tour
            | &nbsp;
            a.btn.btn-default.btn-lg.btn-blue(href="https://www.getcroissant.com/contact" role="button") Contact us

