extends layout

block headScripts

block bodyScripts

block content

  .main
    br
    br

    .container
      .row

        .col-xs-12
          div(align="center")

            div
              h1= pageHeader.header
  
            div(style="height:20px")
  
            div
              img(src="/images/serveimage1.jpg")
  
            div(style="height:20px")
  
            div
              h3
                i Only registered users can access this page.
  

